<div class="banner">
  <h1>
    Welcome to Mr. Cocktail
  </h1>
  <div class="punchline">
    <p>Imagine</p>
    <p>Create</p>
    <p>Drink</p>
  </div>
  <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn-banner" %>
</div>

<div class="cocktail-list">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <%= link_to  cocktail_path(cocktail) do%>
       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
         <%= cocktail.name %>
       </div>
       <% end %>
      <% end %>
  </div>

  <%= cl_image_tag("f2bqiuuv1hfjmsoesrw6", width: 400, heigt: 300, crop: :fill) %>
</div>
