// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cocktail-list {
  height: 100%;
  padding: 50px 40px;
}

.form-box {
  background-color: white;
  width: 1000px;
  margin:0 auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:120px;
  margin-top: 90px;
  margin-bottom: 133px;
}
